{{ form_start(form) }}

<div class="container">
    <div class="form-group">
        {{ form_label(form.nome) }} 
        {{ form_widget(form.nome,{'attr':{'class':'form-control', 'placeholder':'Nome do Autor'}}) }}
    </div>
    <button class="btn btn-success mt-3">{{ button_label|default('Cadastrar') }}</button>
</div>
{{ form_end(form) }}
